<% messages.each do |message| %>
  <tr>
    <td>
      <% if (message.read_at.nil? && renderUnreadFlag)%>  
        <strong>Unread</strong> &nbsp;
      <% else %>
        Read &nbsp;
      <% end %>
    </td>
    <td>
      <%= link_to(message.subject,message)%>
    </td>
  </tr>
<% end %>