<% content_for :head do %>
  <title>Sign In</title>
<% end %> 
<% content_for :body do %>
  <a href='/auth/twitter'>Sign in with Twitter</a>

  <form action='/auth/open_id' method='post'>
    <input type='text' name='identifier'/>
    <input type='submit' value='Sign in with OpenID'/>
  </form>
<%end%>