body
{
  font-family: arial, serif; 
  background-color: rgb(135,180,85);
  background-image:
    
    -webkit-gradient(
      linear, 
      left top, 
      left 500, 
      from(rgba(0,0,0,0.55)), 
      color-stop(100, rgba(0,0,0,0.55)),
      to(rgba(0,0,0,0))
    ), url('/images/texturebg.gif');
  background-repeat: repeat-x, repeat;
  
  min-height: 500px;
}
#wrapper
{
/*  margin: 0 auto;
  width: 960px;*/
}
#wrapper > header,
#content,
#wrapper > footer
{
  padding: 20px;
}
#wrapper > header
{
  padding-top: 5px 0 0 0;
  position: relative;
  color: #fff;
  
  background-color: rgba(70,70,70,1);
  background-image: 
    -webkit-gradient(
      linear, 
      left top, 
      left bottom, 
      from(rgba(0,0,0,0)), 
      to(rgba(0,0,0,0.3))
    );
    
  border-bottom: 4px solid rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  
  border-bottom: 2px solid #DB62A5;
  
}
#wrapper > header .container
{
  margin: 0 auto;
  width: 960px;
  position: relative;
}
#wrapper > header h1,
#wrapper > header h2
{
  text-shadow: 1px 1px 2px rgba(0,0,0,0.9);
}
#wrapper > header h1
{
  font-family: 'Georgia Italic', Georgia, 'Neuton', arial, serif; 
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -2px;
}
#wrapper > header h1 a
{
  text-decoration: none;
  color: rgb(255,255,255);
}
#wrapper > header h1 span.mid
{
  color: rgb(135,180,85);
/*  font-style: italic;
  padding-right: 5px;*/
}
#wrapper > header h1 span.end
{
  font-weight: normal;
  font-size: 0.7em;
  color: rgba(255,255,255,0.8);
}
#wrapper > header h2
{
  text-align: right;
  position: absolute;
  top: -10px; right: 0px;
  font-size: 30px;
  letter-spacing: 4px;
}
#wrapper > header h2 span
{
  font-size: 14px;
  display: block;
  letter-spacing: normal;
  color: rgba(255,255,255,0.8);
}
#wrapper > header nav ul
{
  position: absolute;
  right: 0px;
  bottom: -11px;
}
#wrapper > header nav ul li
{
  display: inline-block;
}
#wrapper > header nav ul li a
{
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 14px;
}
#wrapper > header nav ul li a.current
{
  color: #000;
  background-image: -webkit-gradient(
    linear, 
    left top, 
    left bottom, 
    from(#FD9FD0), 
    to(#DB62A5)
  );
}
#wrapper > header nav ul li a:hover
{
  background-color: rgba(100,100,100,0.5);
}
#wrapper > footer {
  color: #fff;
  background-color: #000;
  
  border-radius: 0px 0px 6px 6px;
}
#wrapper > footer nav ul li a
{
  color: #fff;
  font-size: 0.9em;
}
#wrapper > footer nav ul li a:hover
{
}
#wrapper > footer,
#content
{
  /*border: 3px solid rgb(225,225,225);*/
  margin: 0 auto;
  width: 960px;
  
  border-top: 0px;
}
#content
{
  margin-top: 10px;
  
  background-color: rgb(255,255,255);
  -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  border-bottom: 0px;
}
#content.home
{
  background-color: rgba(255,255,255,0.7);
  background-image: 
    -webkit-gradient(
      linear, 
      left top, 
      left 100, 
      from(rgba(255,255,255,1)), 
      to(rgba(225,225,225,0))
    );
}
#content.interior
{
  width: 1000px;
  padding: 0px;
}
#content.interior #bodyHolder
{
  padding: 0px 20px 20px;
}
#content h1,
#content h2
{
  font-size: 1.4em;
}
#content h1,
#content h2,
#content p
{
  margin-bottom: 1em;
}
#content p
{
  line-height: 1.4em;
}
#content,
#content > header
{
  border-radius: 6px 6px 0px 0px;
}
#content > header
{
  background-color: rgb(185,185,185);
  background-image: 
    -webkit-gradient(
      linear, 
      left top, 
      left bottom, 
      from(rgba(255,255,255,0.5)), 
      to(rgba(225,225,225,0.35))
    );
    
  padding: 20px 20px;
  position: relative;
  margin-bottom: 10px;
}
#content > header h1
{
  margin: 0; padding: 0;
}
#content > header nav
{
  position: absolute;
  right: 20px;
  top: 20px;
}
#content > header nav .button
{
  background-color: rgb(50,50,50);
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  border: 2px solid rgb(80,80,80);
  
  background-image: 
    -webkit-gradient(
      linear, 
      left top, 
      left bottom, 
      from(rgba(0,0,0,0)), 
      to(rgba(0,0,0,0.5))
    );
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  margin: 0;
  
  position: relative;
}
#content > header nav .button.hasIcon
{
  padding-left: 20px;
}
#content > header nav .button:hover
{
  background-color: rgb(80,80,80);
  border: 2px solid rgb(110,110,110);
}
#content > header nav .button span
{
  color: #87B455;
  font-family: Neuton, arial, serif;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  top: -2px;
  left: 3px;
}


/* HOME PAGE STUFF */
#content.home #recentPostings
{
  font-size: 12px;
  border: 1px solid rgb(50,50,50);
  background-color: #fff;
  padding: 5px;
}