#categories
{
  float: left;
  background: rgba(0,0,0,0.05);
  padding: 10px;
  width: 120px;
  font-size: 12px;
  margin-right: 20px;
}
#categories li
{
  display: none;
  border-bottom: 1px solid rgb(150,150,150);
  padding: 4px 4px 5px 4px;
  margin: 0px;
  font-weight: bold;
}
#categories li.current,
#categories li.top
{
  display: block;
}
#categories li a
{
  color: #0187C5;
  text-decoration: none;
  font-weight: normal;
}
#categories li a:hover
{
  text-decoration: underline;
}

#postingsList
{
  padding: 0 0 0 20px;
  margin-left: 140px;
}
#postingsList header
{
  padding: 10px;
  background-color:  rgba(0,0,0,0.05);
  background-image: 
    -webkit-gradient(
      linear, 
      left top, 
      left bottom, 
      from(rgba(0,0,0,0)), 
      to(rgba(0,0,0,0.1))
    );
  border: 1px solid rgb(200,200,200);
  margin-bottom: 10px;
}
#postingsList header h1
{
  font-size: 1.2em;
}
#postingsList header div
{
  font-size: 12px;
}
#postingsList .posting
{
  height: 110px;
  margin: 5px 0px;
  border-bottom: 1px solid  rgb(150,150,150);
  font-size: 12px;
  overflow-y: hidden;
}
#postingsList .posting img
{
  width: 100px; height: 100px; background-color: rgb(135,180,85);
  background-image: -webkit-gradient(radial, 65 45, 20, 52 60, 150, from(rgba(0,0,0,0)), color-stop(70%,  rgba(0,0,0,0.6)), to(rgba(0,0,0,1))),
	-webkit-gradient(linear, 0 0, 50 350, from(rgba(255,255,255,0.1)), to(rgba(255,255,255,0)));
	
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
  
  -webkit-box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
}
#postingsList .posting h2
{
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 5px;
}
#postingsList .posting h2 a
{
  color: rgb(88, 118, 55);
  text-decoration: none;
}
#postingsList .posting h2 a:hover
{
  text-decoration: underline;
}
#postingsList .posting h3
{
  font-size: 12px;
  margin-bottom: 10px;
}