<div class='posting'>
  <img />
  <h2><%= link_to ms(posting, :title), ms(posting, :link) %></h2>
  <h3><%= ms posting, :location %></h3>
  <p><%= ms posting, :description %></p>
  <div style='clear: left'></div>
</div>