<h1>Please login to continue</h1>


<a href='/auth/twitter'>
  <%=image_tag("omniauth/twitter_64.png") %>
</a>

<a href='/auth/open_id?openid_url=yahoo.com'>
  <%=image_tag("omniauth/yahoo_64.png") %>
</a>

<a href='/auth/open_id?openid_url=google.com/accounts/o8/id'>
  <%=image_tag("omniauth/google_64.png") %>
</a>

<a href='/auth/open_id'>
  <%=image_tag("omniauth/openid_64.png") %>
</a>