<h1>Welcome to Letitfree.me</h1>
<p>Letitfree.me is based on the idea of freecyling, freegiving, freesharing, reduce, reusing, recycling, etc.</p>

<p>We want to offer a web portal that makes it easy to offer or find reusable items 
so that they can find a new owner instead of ending up in the landfill.</p>

<p>Typically these communities revolve around a mailing list.</p>

<p>We want to open up the concept to the open web, where visitors can easily perform searches, 
see photos, and users have a public reputation built around their positive (or negative) trade history.</p>
<section id='recentPostings'>
  <h1>Recently Posted Items</h1>
  <%= render @postings %>
</section>